a {
  color: inherit;
  text-decoration: none;
}

header{
	height: 60px;
	background-color: white;
	width: 100vw;
	position: fixed;
	z-index: 2;
 	transition: .3s;
}

header *{
	margin: 0vw;
}

#title{
	display: inline-block;
	width: 465px;
	height: 60px;
}

#title img{
	background-color: white;
	margin: auto;
	height: 30px;
	display: block;
	position: absolute;
	left: 50px;
	top: 15px;
	float: left;
}

#menu{
	padding: 0vw;
	display: inline-block;
	float: right;
	height: 70px;
  	margin-right: 5px;
}

ul .header-button{
  font-size: 25px;
	color: #6CB5B3;
	text-align: center;
	list-style: none;
	float: left;			/*リスト項目を横に並べる*/
	display:inline;			/*リスト項目をインライン表示にする*/
	list-style-type: none;		/*リストマーカー無しにする*/
  margin:5px 10px;
}

ul .header-button img{
	background-color: white;
	height: 28px;
  	margin-top: 13px;

  	/* margin-left: -15px; */
}

/*
#header-top{
	width: 17.6vw;
}

#header-about{
	width: 22.933vw;
}

#header-exhibitors{
	width: 33.6vw;
}

#header-access{
	width: 25.867vw;
}*/

ul .header-button:hover{
	font-weight: bold;
	text-decoration: underline;
}

body{
	margin: 0vw;
  font-family: 'Noto Serif JP', serif;
	/* font-family: "游ゴシック体", YuGothic, "Noto Sans JP", sans-serif; */
	word-break : break-all;
  background-image: url(exhibitors-bg@2x.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
}


.element{
  /* margin-left: 50px; */
	/* padding: 35px calc(50vw - 700px); */
  margin: 0px;
  padding:0px;
	overflow: auto;
  width: 100%;
  position: relative;
}

.exhibitor-info{
  margin: 0;
  font-size: 15px;
  position: relative;


}

.exhibitor-text-wrapper{
    position:relative;
    padding: auto;
    margin-left: 70px;
    width: calc(100% - 80px)
}


/* .exhibitor-info-bg img{
  width:100%;
  height:100%;
   max-width: inherit;
} */

.eng-name{
  position:fixed;
  height:170px;
  padding-top: 40px;
  padding-left: 10px;
}

.name{
  font-weight: bold;
  font-size:30px;
}

.work-wrapper{
  margin-top: 50px;
  margin-left: 70px;
  width: calc(100% - 80px)
}

.work{
	/* width: 100%; */
	margin-bottom: 30px;
}

.work-photo{
	/* display: block; */
	width:100%;
	margin: 0 0 0 0;
}

.work-title{
	font-size: 14pt;
	margin: 0em 0vw;
	/* text-align: right; */
}

.UI{
  position: relative;
  height: 60px;
}
.home{
  position: absolute;
  right:0px;
}
.past{
  position: absolute;
  left:0px;
}

.next{
  position: absolute;
  right:100px;
}

/*フッター*/
footer{
	background: #6CB5B3;

	-ms-flex-pack: distribute;
	justify-content: space-around;

  	display:-webkit-box;
  	display:-ms-flexbox;
  	display:flex;
   	flex-flow: column;
}

footer #footer-wrapper{
	margin: 0vw 50px;
}

footer div #icons{
	margin: 26.67px 0vw;
}

footer div #icons img{
	width: 30px;
	padding-right: 6.67px;
}

footer div #contact{
  	margin: 26.67px 0vw;
  	color: white;
	font-size: 12pt;
  	letter-spacing: 0.15em;
}

footer div #contact_title{
  	font-weight:bold;
}

footer div #contact_mail{
	font-size: 10pt;
  	margin-top: -10px;
  	margin-bottom: 20px;
}

footer div #credit{
	margin: 26.67px 0vw;
	color: white;
	font-size: 10pt;
	letter-spacing: 0.15em;
}
